a(href="/cats/new")
  |Create new cat

- each cat in cats
  h2
    a(href="/cats/" + cat._id)
      = cat.name
  h3= cat.age
  p= cat._id
  form(action="/delete_cat?_method=DELETE" method="POST")
    input(type="hidden" name="id" value="#{cat._id}")
    button(type="submit")
      |Delete

